<h1>Burgers</h1>

<h2>Burgers That Have Not Been Devoured!</h2>

<ul>
  {{#each Burgers}}
    {{#unless devoured}}
      {{> Burgers/cat-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers That Have Been Devoured!</h2>

<ul>
  {{#each cats}}
    {{#if devoured}}
      {{> Burgers/cat-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Ready To Eat
  </div>

  <button type="submit">Add Burger</button>
</form>